<!--
  Title: about.component.html
  Author: William Egge
  Date: 8/26/2023
  Description: The about component for the Nodebucket application.
 -->

<div class="container-fluid mt-3" style="min-height: 600px">
  <div>
    <h2 class="py-3 text-center">Eager to find out more? Learn about NodeBucket here!
    </h2>
    <br />
    <br />
    <p>
      NodeBucket, a pioneering organizer in the magical world, is situated in
      the very crux of all things arcane and mystical. Rooted deeply in the
      legacy of Hogwarts School of Witchcraft and Wizardry, we draw particular
      inspiration from the cunning and resourceful house of Slytherin. As
      magical folks grapple with the intricacies of daily tasks and
      responsibilities, NodeBucket emerges as an avant-garde solution,
      redefining the way we manage our daily spells and potions since its
      conception.
    </p>
    <p>
      Founded by Serpens Listify, a visionary Slytherin graduate, NodeBucket is
      the epitome of organized chaos. His ambition to blend everyday task
      management with magical elements breathed life into this illustrious
      platform. Now, NodeBucket is fortified by an elite coven of the finest
      witches and wizards - all masters in the arcane arts of time-management
      and productivity - aiming to serve our users with unparalleled finesse.
    </p>
    <p>
      Our reach spans across various magical communities, from the bustling
      streets of Diagon Alley to the charming locales of Hogsmeade Village.
      Whether you're juggling potion ingredients, Quidditch practice, or O.W.L.
      revisions, NodeBucket ensures that your tasks are handled with the highest
      level of organization and precision.
    </p>
    <p>
      We place a high value on customization and personal connection. Each of
      our task-planners is proficient in Divination, effectively predicting the
      needs of our users. Our special 'Quidditch Planner' has been instrumental
      in helping young seekers and beaters manage their rigorous training
      schedules.
    </p>
    <p>
      Yet, what defines NodeBucket at its core are the eternal principles of
      Slytherin: ingenuity, ambition, and a willingness to explore
      unconventional solutions. These principles empower us to consistently push
      the frontiers of magical task management and offer unparalleled service
      across the wizarding realm.
    </p>
    <p>
      Unveil the enchantment of structured, streamlined, and dependable task
      management today with NodeBucket. We're not just an application; we're an
      ally in your magical daily life.
    </p>
  </div>
</div>
