/**
 * Title: tasks.component.css
 * Author: Professor Krasso
 * Date: 8/27/2023
 * Modified By: William Egge
 * Description: The tasks component css file. This is the style sheet for the tasks component.
 */

.task-column {
  min-height: 200px;
}


input.form-control.ng-untouched.ng-pristine.ng-invalid {
  /* background-color: var(--slytherin-grey) !important; */
  color: var(--slytherin-black) !important;
}

input {

  color: var(--slytherin-black) !important;
}

.btn {
  color: var(--slytherin-white) !important;
}

.task-hover:hover {
  cursor: pointer;
}