/**
 * Title: signin.component.css
 * Author: William Egge
 * Date: 8/20/2023
 * Description: The signin component css file. This is the style sheet for the signin component.
 */

.card{
  background-color: var(--slytherin-black) !important;
  color: var(--slytherin-silver) !important;
}

a{
  color: var(--slytherin-silver) !important;
}

input{
  color: var(--slytherin-silver) !important;
}