<!--
  Title: footer.component.html
  Author: Richard Krasso
  Date: 8/20/2023
  Modified By: William Egge
  Description: The footer component for the Nodebucket application. It determines the layout of the footer for all pages with a footer.
 -->

<footer class="mt-5 container-fluid text-center bg-dark p-5">
  <div class="container p-5 text-white fst-italic">
    <p>&copy; Copywrite 2023. All Rights Reserved.</p>
    <p>
      <a
        href="mailto:support@nodebucket.com"
        class="text-white text-underline-hover"
        >support@nodebucket.com</a
      >
    </p>
    <a href="https://www.facebook.com/nodebucket" target="_blank">
      <img
        src="./assets/facebook-logo.png"
        alt="black and white facebook logo"
        class="pe-4"
      />
    </a>
    <a href="https://twitter.com/nodebucket" target="_blank">
      <img
        src="./assets/twitter-logo.png"
        alt="black and white twitter logo"
        class="pe-4"
      />
    </a>
  </div>
</footer>
