/* *
 * Title: styles.css
 * Author: Professor Krasso
 * Date: 8/20/2023
 * Modified By: William Egge
 * Description: Styles for the application. It is based on the color scheme of Slytherin House from Harry Potter.
 */

:root {
  --slytherin-green: hsl(125, 80%, 20%); /* Slytherin Green */
  --slytherin-green2: hsl(110, 60%, 40%); /* Slytherin Green2 */
  --slytherin-green3: hsl(95, 50%, 50%); /* Slytherin Green3 */
  --slytherin-green4: hsl(70, 40%, 60%); /* Slytherin Green4 */
  --slytherin-silver: hsl(0, 0%, 80%); /* Slytherin Silver */
  --slytherin-white: #e6e6e6; /* Slytherin Silver */
  --slytherin-black: hsl(0, 0%, 10%); /* Slytherin Black */
  --slytherin-grey: hsl(0, 0%, 20%); /* Slytherin Grey */
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

.full-height {
  height: 100vh !important;
}

.link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .dropdown-menu {
    background-color: var(--slytherin-black) !important;
    color: var(--slytherin-silver) !important;
  }

  .dropdown-item {
    color: var(--slytherin-silver) !important;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: var(--slytherin-black) !important;
    color: var(--slytherin-silver) !important;
  }

  .material-icons {
    color: var(--slytherin-silver) !important;
  }
}

body {
  color: var(--slytherin-silver) !important;
  background-color: var(--slytherin-black) !important;
}


button{
  color: var(--slytherin-silver) !important;
}

input {
  background-color: var(--slytherin-grey) !important;
  color: var(--slytherin-silver) !important;
}

a {
  color: var(--slytherin-silver) !important;
}